{% extends 'base.html.twig' %}

{% block title %}Hello FicheFraisController!{% endblock %}

{% block body %}
<style>
    .fiche_frais_form {  font: 18px/1.5 sans-serif;text-align: center;}
    .fiche_frais_form code { background: #F5F5F5; padding: 2px 6px; }
    .fiche_frais_form p {color: #1f2124}
    .card{
        text-align: center;
        margin: 20px;
    }
    .row{
        justify-content: center;
        margin: 10px;
    }
    .card{
       flex-wrap: wrap;
        display: inline-block;
    }
    .card-body{
        display: flex;
    }
    .card table th{
        background-color: #ccc;
    }

</style>

<div class="fiche_frais_form">
    <h1 class="text-align-center">Bonjour {{ user.prenom }}!</h1>

    <h3>Choisi le mois de la fiche frais que tu souhaites afficher:</h3>

    <div class="card" >
        {{ form_start(form) }}
        <div class="row" style="display: flex">
            <div class="col">{{ form_label(form.mois)}}</div>
            <div class="col">{{ form_widget(form.mois) }}</div>
        </div>

        <div class="row" style="display: flex">
            <div class="col">{{ form_row(form.valider) }}</div>
            <div class="col">{{ form_row(form.effacer) }}</div>
            </div>
        </div>
        {{ form_end(form) }}
    </div>

    {% if bool == true %}

        <div class="row" style="display: flex">
            <div class="col-md-3" style="width: fit-content">
                <div class="card">
                    <ul class="list-unstyled" >
                        <li>Etat : {{ FF.etat.libelle }} depuis le {{ FF.dateDerniereModif|date('o F') }}</li>
                        <li>Montant validé : {{ FF.montantValide }}€</li>
                    </ul>
                    <div class="card-body">
                        <table class="table-bordered">
                            <thead>
                            <tr>
                                <th>Forfait étape</th>
                                <th>Frais kilométrique</th>
                                <th>Nuitée Hôtel</th>
                                <th>Repas Restaurant</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                {% for l in FF.ligneFraisForfaitise %}
                                    <td>{{ l.quantite }}</td>
                                {%endfor %}
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-3" style="width: fit-content">
                <div class="card">
                    <p>Descriptif des éléments hors forfait - {{ FF.nbrJustificatif}} justificatifs reçus </p>
                    <div class="card-body">
                        <table class="table-bordered">
                            <thead>
                            <tr>
                                <th>Date</th>
                                <th>Libellé</th>
                                <th>Montant</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for l in FF.ligneFraisHorsForfait %}
                                <tr>
                                    <td>{{ l.date|date('o F') }}</td>
                                    <td>{{ l.libelle }}</td>
                                    <td>{{ l.montant }}</td>
                                </tr>
                            {%endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    {% endif %}
</div>
{% endblock %}
