{% extends 'base.html.twig' %}

{% block title %}Hello FicheFraisController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ user.prenom }}!</h1>

    <div class = "h3">
        Choisie le mois de la fiche frais :
    </div>
{{ form_start(form) }}
   {{ form(form) }}
{{ form_end(form) }}

    {% if bool == true %}
        <style>
            table,
            td {
                border: 1px solid #333;
            }

            thead,
            tfoot {
                background-color: #333;
                color: #fff;
            }

        </style>

        <div class="row">
            <div class="col">
                <p>Etat : {{ FF.etat.libelle }} depuis le {{ FF.dateDerniereModif|date('y-m-d') }}</p>
                <p>Montant validé : {{ FF.montantValide }}</p>
                <table>
                    <thead>
                    <tr>
                        <th>Forfait étape</th>
                        <th>Frais kilométrique</th>
                        <th>Nuitée Hôtel</th>
                        <th>Repas Restaurant</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{ FF.ligneFraisForfait.}}</td>
                        <td>with two columns</td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>

    {% endif %}
</div>
{% endblock %}
