{% extends 'base.html.twig' %}

{% block title %}Hello PrimeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    Prime Montant Validé:
    <ul>
        <li>Total : {{ primeT | number_format( 2, ',', ' ')}} €</li>
        <li>Total par client: {{ primeV | number_format( 2, ',', ' ')}} €</li>
    </ul>

    Prime Montant Déclaré:
    <ul>
        <li>Total : {{ Dprime | number_format( 2, ',', ' ')}} €</li>
        <li>Total par client : {{ Dprimebis | number_format( 2, ',', ' ')}} €</li>
    </ul>

</div>
{% endblock %}
